@{
    Layout = "~/Views/Shared/_RootLayout.cshtml";
}

@section head {
    @RenderSection("head", required: false)
}

@section nav {
    <ul>
        <li></li>
    </ul>
}


@RenderBody()

@section footer {
    Built <em>by</em> Quantum Concepts <em>for</em> Quantum Concepts.
}

@section scripts {
    @RenderSection("scripts", required: false)
}